<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">Employee Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'agregar')">Agregar Empleado<span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="buscarEmpleados(palabraClave.value)" #palabraClave="ngModel"  ngModel name="palabraClave" id="searchName" class="form-control mr-sm-2"
            placeholder="Search employees..." required>
      </form>
   </div>
</nav>
<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let empleado of empleados" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{empleado?.imagenUrl}}" alt="foto-de-perfil" class="img-fluid rounded-circle w-60"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{empleado?.nombre}}</h5>
                  <p class="m-0">{{empleado?.tituloTrabajo}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{empleado?.email}}</li>
               <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{empleado?.telefono}}</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(empleado, 'editar')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(empleado, 'eliminar')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Add Employee Modal -->
   <div class="modal fade" id="agregarEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addEmployeeModalLabel">Agregar nuevo Empleado</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #formDeCreacion="ngForm" (ngSubmit)="onAgregarEmpleado(formDeCreacion)">
                  <div class="form-group">
                     <label for="nombre">Nombre</label>  <!--etiquete for, name e id, mismo valor-->
                     <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required> <!--utilizamos ngModel para captar el "name"-->
                  </div>
                  <div class="form-group">
                     <label for="email">Email</label>
                     <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                     <label for="tituloTrabajo">Titulo del trabajo</label>
                     <input type="text" ngModel name="tituloTrabajo" class="form-control" id="tituloTrabajo"
                        placeholder="Titulo Trabajo" required>
                  </div>
                  <div class="form-group">
                     <label for="telefono">Celular</label>
                     <input type="text" ngModel name="telefono" class="form-control" id="telefono" placeholder="Telefono"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="imagenUrl">Imagen URL</label>
                     <input type="text" ngModel name="imagenUrl" class="form-control" id="imageUrl"
                        placeholder="Image URL" required>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-employee-form" class="btn btn-secondary"
                        data-dismiss="modal">
                        Cerrar
                     </button>
                     <!--[disabled]="formDeCreacion.invalid": habilitamos el boton una vez que se hayan completados los campos-->
                     <button [disabled]="formDeCreacion.invalid" type="submit" class="btn btn-primary">
                        Agregar
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Edit Modal -->
   <div class="modal fade" id="editarEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #formDeActualizacion="ngForm">
                  <!--#formDeActualizacion. Con ésta referencia despúes podemos acceder a los valores del form-->
                  <div class="form-group">
                     <label for="nombre">Nombre</label>
                     <input type="text" ngModel="{{editEmpleado?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp"
                        placeholder="Nombre">
                  </div>
                  <input type="hidden" ngModel="{{editEmpleado?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                  <input type="hidden" ngModel="{{editEmpleado?.codigoEmpleado}}" name="codigoEmpleado" class="form-control" id="codigoEmpleado" placeholder="Email">
                  <div class="form-group">
                     <label for="email">Email </label>
                     <input type="email" ngModel="{{editEmpleado?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                     <label for="tituloTrabajo">Titulo de Trabajo</label>
                     <input type="text" ngModel="{{editEmpleado?.tituloTrabajo}}" name="tituloTrabajo" class="form-control" id="tituloTrabajo" placeholder="Titulo Trabajo">
                  </div>
                  <div class="form-group">
                     <label for="telefono">Celular</label>
                     <input type="text" ngModel="{{editEmpleado?.telefono}}" name="telefono" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
                  </div>
                  <div class="form-group">
                     <label for="imagenUrl">Imagen URL</label>
                     <input type="text" ngModel="{{editEmpleado?.imagenUrl}}" name="imagenUrl" class="form-control" id="imagenUrl" placeholder="Imagen URL">
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                     <button (click)="onActualizarEmpleado(formDeActualizacion.value)" data-dismiss="modal" class="btn btn-primary">Actualizar</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Delete Modal -->
   <div class="modal fade" id="eliminarEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Eliminar Empleado</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Seguro que se desea eliminar el empleado {{deleteEmpleado?.nombre}}</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onEliminarEmpleado(deleteEmpleado?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="empleados.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO EMPLOYEES!</h4>
      <p>No Employees were found.</p>
   </div>
</div>